@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta scrollbar en todos los navegadores */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: #F9F8F7;
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideDown {
  animation: fadeSlideDown 0.3s ease-out forwards;
}

/*aqui*/

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-30px);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.50s ease-out forwards;
}

.animate-slideOutLeft {
  animation: slideOutLeft 0.35s ease-in forwards;
}
